:root {
  --violet: #d05ce3;
  --deep-violet: #6a0080;
  --blue: #29b6f6;
  --deep-blue: #007ac1;
  --cyan: #00bcd4;
  --bright-green: #b9fb93;
  --green: #4caf50;
  --deep-green: #087f23;
  --yellow: #ffc107;
  --orange: #ff9800;
  --red: #f44336;
  --deep-red: #ba000d;
  --magenta: #e91e63;
}

