root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space

[*.java]
indent_size = 4

[*.{md,yml,html,js,rb,css,xml,scss}]
indent_size = 2
