.ipad/workspace
.ipad/graph.json
.mobile/workspace
.mobile/graph.json
.obsidian/workspace
.obsidian/graph.json
.obsidian/plugins/obsidian-git/data.json
.DS_Store
*~
*.swp
.vscode

*/plugins/*/manifest.json
*/plugins/*/main.js
*/plugins/*/styles.css

*sync-conflict*
.trash
