:root {
  --violet: #d05ce3;
  --deep-violet: #6a0080;
  --blue: #29b6f6;
  --deep-blue: #007ac1;
  --cyan: #00bcd4;
  --bright-green: #b9fb93;
  --green: #4caf50;
  --deep-green: #087f23;
  --yellow: #ffc107;
  --orange: #ff9800;
  --red: #f44336;
  --deep-red: #ba000d;
  --magenta: #e91e63;
}

.theme-dark {
  --bright-1: #ffeb64;
  --bright-2: #63ff9d;
  --bright-3: #86dff9;

  --dark-1: #64c4ff;
  --dark-2: #ff9e64;
  --dark-3: #9f65ff;

  --pop-1: #cdfce0;
  --pop-2: #cdfdf8;
  --pop-3: #cdeafc;

  --alt: #aea5be;

  --text-title-h1: var(--bright-1);
  --text-title-h2: var(--bright-2);
  --text-title-h3: var(--bright-3);
  --text-title-h4: var(--dark-1);
  --text-title-h5: var(--dark-1);
  --text-title-h6: var(--dark-1);

  --accent-1: var(--dark-3);
  --accent-2: var(--dark-2);
  --accent-3: var(--dark-1);
  --accent-4: var(--bright-3);
  --accent-5: var(--bright-2);
  --accent-6: var(--bright-1);

  --main-node: var(--dark-1);
  --main-node-hover: var(--bright-3);
  --attachments: var(--pop-3);

  --tags: var(--alt);
  --external-link: var(--alt);
}
