.markdown-preview-view blockquote {
  padding: 10px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.theme-dark .markdown-preview-view blockquote {
  border-color: var(--gray-dark-3);
  color: var(--gray-light-1);
}

.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote ul {
  padding-inline-start: 15px;
}

.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote ul li {
  margin-bottom: 5px;
}

.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote p {
  margin-top: .1em;
  margin-bottom: .5em;
}

.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote h1,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote h2,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote h3,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote h4,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote h5,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote h6 {
  font-size: 26px;
  line-height: 32px;
  font-variant: common-ligatures;
}

.workspace-leaf-content[data-type=markdown] .markdown-preview-view blockquote hr {
  margin: 10px 0;
}