:root {
  --default-font: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-monospace: Hack, 'Source Code Pro', monospace;
  --font-tags: Architects Daughter, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-header: Architects Daughter, 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;

  --font-size-code: 15px;
  --font-size-side-dock: 15px;
  --font-size-side-dock-title: 18px;
  --font-size-status-bar: 12px;
  --font-size-h1: 30px;
  --font-size-h2: 26px;
  --font-size-h3: 24px;
  --font-size-h4: 21px;
  --font-size-h5: 20px;
  --font-size-h6: 19px;

  --gray-dark: #282a36;
  --gray: #44475a;
  --gray-light: #f8f8f2;
  --violet: #bd93f9;
  --blue: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --orange: #ffb86c;
  --red: #ff5555;
  --magenta: #ff79c6;
}

.theme-dark {
  --background-primary: #282a36;
  --background-primary-alt: #44475a;
  --background-secondary: #282a36;
  --background-secondary-alt: #1a1e24;

  --background-modifier-border: #333;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #197300;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #470000;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);

  --text-accent: var(--blue);
  --text-accent-hover: var(--cyan);
  --text-normal: #dcddde;
  --text-muted: #999;
  --text-muted-rgb: 153, 153, 153;
  --text-faint: #666;
  --text-error: var(--red);
  --text-error-hover: var(--orange);
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(23, 48, 77, 0.99);
  --text-on-accent: #dcddde;

  --text-title-h1: var(--yellow);
  --text-title-h2: var(--green);
  --text-title-h3: var(--cyan);
  --text-title-h4: var(--violet);
  --text-title-h5: var(--magenta);
  --text-title-h6: var(--text-muted);

  --interactive-normal: #2a2a2a;
  --interactive-hover: #303030;
  --interactive-accent: var(--blue);
  --interactive-accent-rgb: var(--blue);
  --interactive-accent-hover: #4d3ca6;
  --interactive-success: #197300;

  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);

  --highlight-mix-blend-mode: lighten;

  --syntax-default: rgb(191, 193, 194);
  --syntax-red: var(--red);
  --syntax-orange: var(--orange);
  --syntax-yellow: var(--yellow);
  --syntax-green: var(--green);
  --syntax-cyan: var(--cyan);
  --syntax-blue: var(--blue);
  --syntax-violet: var(--violet);
  --syntax-grey: var(--text-muted);
}

/**
 * FONTS
 */
/* Editor font: make thicker */
.cm-s-obsidian .CodeMirror-line * {
  -webkit-font-smoothing: auto;
}

.cm-s-obsidian .cm-header {
  -webkit-font-smoothing: antialiased;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: 500;
}

.cm-hashtag, a.tag {
  font-family: var(--font-tags);
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  border-bottom: 1px solid;
  border-width: 35%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--text-accent), #100e17, #100e17, #100e17);
}

.cm-header-1,
.markdown-preview-view h1 {
  font-variant: common-ligatures small-caps;
  margin-bottom: 0;
  font-size: 30px;
}

.cm-header-1,
.markdown-preview-view h1 {
  font-size: var(--font-size-h1);
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2 {
  font-size: var(--font-size-h2);
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3 {
  font-size: var(--font-size-h3);
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-size: var(--font-size-h4);
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-size: var(--font-size-h5);
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-size: var(--font-size-h6);
  color: var(--text-title-h6);
}

.markdown-preview-view h1 code,
.markdown-preview-view h2 code,
.markdown-preview-view h3 code,
.markdown-preview-view h4 code,
.markdown-preview-view h5 code,
.markdown-preview-view h6 code {
  font-weight: normal;
  font-size: 75%;
}

.cm-s-obsidian .cm-inline-code.cm-header {
  font-weight: normal;
  font-size: 90%;
}

.markdown-preview-view h1 a.tag,
.markdown-preview-view h2 a.tag,
.markdown-preview-view h3 a.tag,
.markdown-preview-view h4 a.tag,
.markdown-preview-view h5 a.tag,
.markdown-preview-view h6 a.tag {
  font-weight: normal;
  font-size: 65%;
}

.cm-s-obsidian .cm-header.cm-hashtag {
  font-weight: normal;
  font-size: 90%;
}

/*----------------------------------------------------------------
CODEBLOCKS & INLINE CODE
----------------------------------------------------------------*/

code,
.cm-inline-code {
  padding: 2px 1px;
}

.markdown-preview-view pre,
.markdown-preview-view code,
.markdown-preview-view h1 code,
.markdown-preview-view h2 code,
.markdown-preview-view h3 code,
.markdown-preview-view h4 code,
.markdown-preview-view h5 code,
.markdown-preview-view h6 code,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .cm-inline-code.cm-header,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  color: var(--syntax-default) !important;
  background-color: var(--background-secondary) !important;
}

/** Override from base stylesheet */
.theme-dark :not(pre)>code[class*='language-'],
.theme-dark pre[class*='language-'] {
  color: var(--syntax-default) !important;
  background-color: var(--background-secondary) !important;
}

.markdown-preview-view code {
  padding: 0 5px;
  border-radius: 0.3rem;
}

.markdown-preview-view pre code.language-yaml,
.markdown-preview-view pre code.language-yaml span.token {
  color: var(--text-muted) !important;
}

/*----------------------------------------------------------------
SYNTAX HIGHLIGHTER COLORS
----------------------------------------------------------------*/

.theme-dark .token.comment,
.theme-dark .token.prolog,
.theme-dark .token.doctype,
.theme-dark .token.cdata,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-comment {
  color: var(--syntax-grey) !important;
}

.theme-dark .token.punctuation,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-bracket {
  color: var(--syntax-default) !important;
}

.theme-dark .token.constant,
.theme-dark .token.symbol,
.theme-dark .token.deleted,
.theme-dark .token.tag,
.theme-dark .token.property,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-property,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-tag,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-def {
  color: var(--syntax-blue) !important;
}

.theme-dark .token.boolean,
.theme-dark .token.number,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-number {
  color: var(--syntax-orange) !important;
}

.theme-dark .token.selector,
.theme-dark .token.attr-name,
.theme-dark .token.char,
.theme-dark .token.inserted,
.theme-dark .token.string,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-string,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-string-2 {
  color: var(--syntax-green);
}

.theme-dark .token.operator,
.theme-dark .token.entity,
.theme-dark .token.url,
.theme-dark .language-css .token.string,
.theme-dark .style .token.string,
.theme-dark .token.variable,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-operator,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-quote,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-variable,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-variable-2,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-variable-3 {
  color: var(--syntax-cyan) !important;
}

.theme-dark .token.atrule,
.theme-dark .token.attr-value,
.theme-dark .token.function .theme-dark .token.class-name {
  color: var(--syntax-yellow);
}

.theme-dark .token.regex,
.theme-dark .token.important,
.theme-dark .token.builtin,
.theme-dark .token.keyword,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-builtin,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-keyword {
  color: var(--syntax-violet) !important;
}

/*----------------------------------------------------------------
BLOCK QUOTES
----------------------------------------------------------------*/


/* editor */

.cm-quote {
  color: var(--text-muted) !important;
  font-style: italic;
}

/* preview */

blockquote {
  color: var(--text-muted) !important;
  font-style: italic;
  border-color: var(--interactive-accent) !important;
}

blockquote p {
  display: inline;
}


/*----------------------------------------------------------------
ul, li & ol colors in editor */

.markdown-preview-section>ul.contains-task-list {
  margin-block-end: 2rem;
}


/*----------------------------------------------------------------
TASK LISTS
----------------------------------------------------------------*/

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background-color: var(--background-primary);
  border: 1px solid var(--text-muted);
  border-radius: 3px;
}

input[type=checkbox]:focus,
input[type=checkbox]:hover {
  outline: 0;
  border-color: var(--text-muted);
}

input[type=checkbox]:checked {
  background-color: var(--blue) !important;
  border: 1px solid var(--blue);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 20 20'%3E%3Cpath d='M0 11l2-2l5 5L18 3l2 2L7 18z' fill='%23fff'/%3E%3C/svg%3E");
}


/*************/
/* side dock */
/*************/

/* side dock text, like file names and backlink context */
.side-dock-panels-container * {
  font-size: 13px !important;
}

/* side dock titles at top */
.side-dock-title {

  font-size: 20px !important;
  font-weight: 800 !important;
}

/* hover actions on side dock navigation */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-tab-inner:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
  color: var(--text-a);
}

/* condense line spacing on file explorer title list. also avoids character-level word breaks */
.nav-file-title-content,
.search-result-file-title,
.search-result-file-match {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  word-break: keep-all;
}

/* clean up side bar empty state (e.g. unlinked mentions) */
.search-empty-state {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
}


/**********/
/* tables */
/**********/
th {
  font-weight: 800 !important;
}

thead {
  border-bottom: 4px solid var(--background-modifier-border);
}

.table {
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-modifier-border);
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


/**
 hr styles -- PREVIEW MODE 
 */
.markdown-preview-view hr {
  margin-block-start: 4em;
  margin-block-end: 4em;
  border: none;
  height: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, transparent, var(--text-accent), transparent);
}

.markdown-preview-view hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 0.5rem;
  color: var(--text-sub-accent);
  background-color: var(--background-primary);
}


/*---------------------------------*/
/* BULLET POINT RELATIONSHIP LINES #列表 */
/*---------------------------------*/
.cm-hmd-list-indent .cm-tab,
ul ul {
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ul::before {
  content: "";
  border-left: 1px solid rgba(100, 100, 120, 0.6);
  /*最后一个数为透明度*/
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 3.5px;
  /* 调节编辑模式下线的左缩进 */
  top: -4.5px;
  bottom: -4px;
}

ul ul::before {
  left: -13px;
  /* 调节预览模式下线的左缩进 */
  top: 0;
  bottom: 0;
}

.cm-hmd-list-indent .cm-tab,
ol ol {
  /* 有序列表 */
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ol ol::before {
  content: "";
  border-left: 1px solid rgba(100, 100, 120, 0.6);
  /*最后一个数为透明度*/
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 3.5px;
  /* 调节编辑模式下线的左缩进 */
  top: -4.5px;
  bottom: -4px;
}

ol ol::before {
  left: -13px;
  /* 调节预览模式下线的左缩进 */
  top: 0;
  bottom: 0;
}

.cm-hmd-list-indent .cm-tab,
ol ul {
  /* 有序列表 */
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ol ul::before {
  content: "";
  border-left: 1px solid rgba(100, 100, 120, 0.6);
  /*最后一个数为透明度*/
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 3.5px;
  /* 调节编辑模式下线的左缩进 */
  top: -4.5px;
  bottom: -4px;
}

ol ul::before {
  left: -13px;
  /* 调节预览模式下线的左缩进 */
  top: 0;
  bottom: 0;
}

.cm-hmd-list-indent .cm-tab,
ul ol {
  /* 有序列表 */
  position: relative;
}

.cm-hmd-list-indent .cm-tab::before,
ul ol::before {
  content: "";
  border-left: 1px solid rgba(100, 100, 120, 0.6);
  /*最后一个数为透明度*/
  position: absolute;
}

.cm-hmd-list-indent .cm-tab::before {
  left: 3.5px;
  /* 调节编辑模式下线的左缩进 */
  top: -4.5px;
  bottom: -4px;
}

ul ol::before {
  left: -13px;
  /* 调节预览模式下线的左缩进 */
  top: 0;
  bottom: 0;
}

/*-------------------------------------*/
/* 在编辑模式中将无序 #列表 转化为圆点 */
/*-------------------------------------*/
/* Unordered lists: turn into bullets as you type in edit mode */
span.cm-formatting-list-ul {
  visibility: hidden !important;
}

/*hieu: no idea if this would affect preview bullet color, but some useful css to play with? */
span.cm-formatting-list-ul:before {
  content: '• ';
  color: var(--text-normal);
  /*change to your color pref */
  visibility: visible !important;
  margin-left: 0.1rem;
  /* 调节点的右缩进 */
  margin-right: -0.22rem;
  /*调文字的左缩进 */
  padding-inline-start: 0px;
}

/*-------------------------------------*/
/* 减少 #列表 缩进 Ajust list indent In preview mode*/
/*-------------------------------------*/
ol {
  padding-inline-start: 30px;
}

ul {
  padding-inline-start: 30px;
}

/*-------------------------------------*/
/* #大纲面板 的关系线 #侧边栏 relationship line of outline */
/*-------------------------------------*/
.outline .collapsible-item-children {
  margin-left: 20px;
  border-left: 1px solid rgba(165, 165, 165, 0.2);
  transition: all 0.5s ease-in-out;
  padding-left: 6px;
}


/*----------------------------------------------------------------
Andy's Mode Sliding Panes v3.2.1 (death_au's plugin)
----------------------------------------------------------------*/

/** Disable top/bottom gradients */
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:before,
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:after {
  display: none;
}

/***
 * EMBEDDED CONTENT
 */

 /* Hide all H1 in transclusions .... */
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h1,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h2,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h3,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h4,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h5,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h6 {
  display:none;
}

/* .... but show H2 and on in transclusions */
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h1,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h2,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h3,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h4,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h5,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h6 {

  display:block;
}
/* change the color of note title in the embed */
.markdown-embed-title {
	color: red; /*change color*/
	display: none; /*remove*/
  }

/*==============TRANSCLUSION TWEAKS=============*/
.markdown-embed-title {
	font-family: sans-serif;
	font-size: 10px;
	color: var(--text-accent); /*rgb(150,200,255);*/
	line-height: 10px;
	width: 100%;
	text-align: left;
	font-weight: 100;
	margin: -4px 0px;
}
.markdown-preview-view .markdown-embed {
	background-color: var(--background-primary);
	border-radius: 0px;
	border: 0;
	border-left: 1px solid #dcdcdc; /* was var(--text-selection) */
	margin: 0px -20px;
}
/* Hide frontmatters in embeds */
.markdown-preview-view .markdown-embed-content .frontmatter {
  display: none;
}
.markdown-embed {
	display: block;
	top: 0px;
}
.markdown-embed > .markdown-embed-content {
	display: inline;
	max-height: 100%;
	max-width: 100%;
	margin: -25px 0px -15px 0px;
	padding: 0px 0px 5px 0px;
}
.markdown-embed-content > * {
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: 10px 0px 5px 0px;
}
.markdown-embed-link {
	top: -3px;
	left: -20px;
	color: #484848; /* was var(--accent-strong) */
	cursor: pointer;
	position: absolute;
}
svg.link {
	width: 12px;
	height: 12px;
}
.file-embed-link {
	top: 10px;
	left: -10px;
	color: var(--accent-strong);
	cursor: pointer;
	position: relative;
}
.internal-embed, .internal-embed > .markdown-embed > .markdown-embed-content {
	display: block;
	max-height: 100%;
	max-width: 100%;
	left: 0px;
}
.markdown-preview-view .file-embed {
	background-color: var(--background-primary);
	border-radius: 4px;
	border: 2px solid var(--text-selection);
	padding: 5px 20px 5px 20px;
	margin: 10px 0px 10px 0px;
}
.file-embed-title {
	font-size: 12px;
	height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Eliminate scrollbars in transclusions (from death-au) */
.markdown-preview-view .markdown-embed-content,
.markdown-preview-view .markdown-embed-content>.markdown-preview-view {
  max-height: unset;
}

/* Reduce gap between adjacent block embed */
.markdown-preview-view .markdown-embed {
  margin-top: -20px;
  margin-bottom: -20px;
}

