:root {
  --default-font: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --font-monospace: Hack, 'Source Code Pro', monospace;
  --font-tags: Architects Daughter, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-header: Architects Daughter, 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;

  --font-size-code: 15px;
  --font-size-side-dock: 15px;
  --font-size-side-dock-title: 18px;
  --font-size-status-bar: 12px;
  --font-size-h1: 30px;
  --font-size-h2: 26px;
  --font-size-h3: 24px;
  --font-size-h4: 21px;
  --font-size-h5: 20px;
  --font-size-h6: 19px;

  --gray-dark-alt: #212121;
  --gray-dark: #1b1b1b;
  --gray: #424242;
  --gray-mid-darkest: #616161;
  --gray-mid-dark: #9a9a9a;
  --gray-mid: #dedede;
  --gray-mid-light: #e0e0e0;
  --gray-light: #f8f8f2;

  --violet: #9c27b0;
  --deep-violet: #6a0080;
  --blue: #03a9f4;
  --deep-blue: #007ac1;
  --cyan: #00bcd4;
  --green: #4caf50;
  --deep-green: #087f23;
  --yellow: #ffc107;
  --orange: #ff9800;
  --red: #f44336;
  --deep-red: #ba000d;
  --magenta: #e91e63;

  --transparent-light: rgba(0, 0, 0, 0.22);
  --transparent-mid: rgba(0, 0, 0, 0.3);
  --transparent-dark: rgba(0, 0, 0, 0.8);
}

.theme-dark {
  --background-primary: var(--gray-dark);
  --background-primary-alt: var(--gray);
  --background-secondary: var(--gray-dark-alt);
  --background-secondary-alt: var(--gray-dark);

  --background-modifier-border: var(--gray);
  --background-modifier-form-field: var(--transparent-mid);
  --background-modifier-form-field-highlighted: var(--transparent-light);
  --background-modifier-box-shadow: var(--transparent-mid);
  --background-modifier-success: var(--deep-green);
  --background-modifier-error: var(--deep-red);
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: var(--deep-violet);
  --background-modifier-cover: var(--transparent-dark);

  --text-accent: var(--blue);
  --text-accent-hover: var(--deep-blue);
  --text-normal: var(--gray-mid);
  --text-muted: var(--gray-mid-dark);
  --text-muted-rgb: 153, 153, 153;
  --text-faint: var(--gray-mid-dark);
  --text-error: var(--red);
  --text-error-hover: var(--orange);
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(23, 48, 77, 0.99);

  --text-title-h1: var(--yellow);
  --text-title-h2: var(--green);
  --text-title-h3: var(--cyan);
  --text-title-h4: var(--violet);
  --text-title-h5: var(--magenta);
  --text-title-h6: var(--text-muted);

  /** background **/
  --interactive-normal: var(--gray-dark-alt);
  --interactive-hover: var(--gray-dark);
  --interactive-accent: var(--deep-blue);
  --interactive-accent-rgb: 0 122 193;
  --interactive-accent-hover: var(--deep-violet);

  /** foreground **/
  --text-on-accent: #dcddde;
  --interactive-success: var(--green);

  --scrollbar-active-thumb-bg: var(--transparent-light);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);

  --highlight-mix-blend-mode: lighten;

  --syntax-default: var(--text-normal);
  --syntax-red: var(--red);
  --syntax-orange: var(--orange);
  --syntax-yellow: var(--yellow);
  --syntax-green: var(--green);
  --syntax-cyan: var(--cyan);
  --syntax-blue: var(--blue);
  --syntax-violet: var(--violet);
  --syntax-grey: var(--text-muted);

  --graph-line: var(--blue);
  --graph-arrow: var(--text-muted);
  --graph-line-highlight: var(--cyan);
  --graph-circle-fill: var(--green);
  --graph-circle-fill-highlight: var(--yellow);
  --graph-circle-outline: transparent;
  --graph-circle-fill-unresolved: hsla(206, 89%, 71%, 1);
  --graph-fill-attachment: var(--magenta);
  --graph-text: var(--text-normal);
  --graph-fill-tag: var(--violet);
}

/**
 * FONTS
 */
/* Editor font: make thicker */
.cm-s-obsidian .CodeMirror-line * {
  -webkit-font-smoothing: auto;
}

.cm-s-obsidian .cm-header {
  -webkit-font-smoothing: antialiased;
}

/**
 * Headings
 */
.cm-header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: 500;
}

.cm-hashtag, a.tag {
  font-family: var(--font-tags);
}

.cm-header-1,
.markdown-preview-view h1 {
  font-variant: common-ligatures small-caps;
  padding-bottom: 0px !important;
  margin-bottom: -20px !important;
  font-size: var(--font-size-h1);
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2 {
  font-size: var(--font-size-h2);
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3 {
  font-size: var(--font-size-h3);
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-size: var(--font-size-h4);
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-size: var(--font-size-h5);
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-size: var(--font-size-h6);
  color: var(--text-title-h6);
}

.markdown-preview-view h1 code,
.markdown-preview-view h2 code,
.markdown-preview-view h3 code,
.markdown-preview-view h4 code,
.markdown-preview-view h5 code,
.markdown-preview-view h6 code {
  font-weight: normal;
  font-size: 75%;
}

.cm-s-obsidian .cm-inline-code.cm-header {
  font-weight: normal;
  font-size: 90%;
}

.markdown-preview-view h1:before {
  content: "\00a7\00a0";
  font-size: .6em;
}
.markdown-preview-view h2:before,
.markdown-preview-view h3:before,
.markdown-preview-view h4:before,
.markdown-preview-view h5:before,
.markdown-preview-view h6:before {
  content: "\00a0\00a0\00a7\00a0";
  font-size: .6em;
}

.markdown-preview-view h1 a.tag,
.markdown-preview-view h2 a.tag,
.markdown-preview-view h3 a.tag,
.markdown-preview-view h4 a.tag,
.markdown-preview-view h5 a.tag,
.markdown-preview-view h6 a.tag {
  font-weight: normal;
  font-size: 65%;
}

.cm-s-obsidian .cm-header.cm-hashtag {
  font-weight: normal;
  font-size: 90%;
}

div[src$="#portrait"] {
  float: right;
  margin-left: 5px;
  width: 200px;
}

span.nav {
  border-top: 1px solid var(--background-modifier-border);
  border-bottom: 1px solid var(--background-modifier-border);
  clear: right;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*----------------------------------------------------------------
Graph filters */

.theme-dark .graph-view.color-fill {
  color: var(--graph-circle-fill);
  opacity: 0.9;
}
.theme-dark .graph-view.color-fill-tag {
  color: var(--graph-fill-tag);
}
.theme-dark .graph-view.color-fill-attachment {
  color: var(--graph-fill-attachment);
}
.theme-dark .graph-view.color-fill-unresolved {
  color: var(--graph-circle-fill-unresolved);
  opacity: 0.4;
}
.theme-dark .graph-view.color-arrow {
  color: var(--graph-arrow);
  opacity: 0.5;
}
.theme-dark .graph-view.color-circle {
  color: var(--graph-circle-outline);
}
.theme-dark .graph-view.color-line {
  color: var(--graph-line);
  opacity: 0.7;
}
.theme-dark .graph-view.color-text {
  color: var(--graph-text);
}
.theme-dark .graph-view.color-fill-highlight {
  color: var(--graph-circle-fill-highlight);
}
.theme-dark .graph-view.color-line-highlight {
  color: var(--graph-line-highlight);
}

/*----------------------------------------------------------------
CODEBLOCKS & INLINE CODE
----------------------------------------------------------------*/

code,
.cm-inline-code {
  padding: 2px 1px;
}

.markdown-preview-view pre,
.markdown-preview-view code,
.markdown-preview-view h1 code,
.markdown-preview-view h2 code,
.markdown-preview-view h3 code,
.markdown-preview-view h4 code,
.markdown-preview-view h5 code,
.markdown-preview-view h6 code,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian .cm-inline-code.cm-header,
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  color: var(--syntax-default) !important;
  background-color: var(--gray) !important;
}

/** Override from base stylesheet */
.theme-dark :not(pre)>code[class*='language-'],
.theme-dark pre[class*='language-'] {
  color: var(--syntax-default) !important;
  background-color: var(--gray) !important;
}

.markdown-preview-view code {
  padding: 0 5px;
  border-radius: 0.3rem;
}

.markdown-preview-view pre code.language-yaml,
.markdown-preview-view pre code.language-yaml span.token {
  color: var(--text-muted) !important;
}

/*----------------------------------------------------------------
SYNTAX HIGHLIGHTER COLORS
----------------------------------------------------------------*/

.theme-dark .token.comment,
.theme-dark .token.prolog,
.theme-dark .token.doctype,
.theme-dark .token.cdata,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-comment {
  color: var(--syntax-grey) !important;
}

.theme-dark .token.punctuation,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-bracket {
  color: var(--syntax-default) !important;
}

.theme-dark .token.constant,
.theme-dark .token.symbol,
.theme-dark .token.deleted,
.theme-dark .token.tag,
.theme-dark .token.property,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-property,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-tag,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-def {
  color: var(--syntax-blue) !important;
}

.theme-dark .token.boolean,
.theme-dark .token.number,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-number {
  color: var(--syntax-orange) !important;
}

.theme-dark .token.selector,
.theme-dark .token.attr-name,
.theme-dark .token.char,
.theme-dark .token.inserted,
.theme-dark .token.string,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-string,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-string-2 {
  color: var(--syntax-green);
}

.theme-dark .token.operator,
.theme-dark .token.entity,
.theme-dark .token.url,
.theme-dark .language-css .token.string,
.theme-dark .style .token.string,
.theme-dark .token.variable,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-operator,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-quote,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-variable,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-variable-2,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-variable-3 {
  color: var(--syntax-cyan) !important;
}

.theme-dark .token.atrule,
.theme-dark .token.attr-value,
.theme-dark .token.function .theme-dark .token.class-name {
  color: var(--syntax-yellow);
}

.theme-dark .token.regex,
.theme-dark .token.important,
.theme-dark .token.builtin,
.theme-dark .token.keyword,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-builtin,
.cm-s-obsidian pre.HyperMD-codeblock span.cm-keyword {
  color: var(--syntax-violet) !important;
}

/*----------------------------------------------------------------
BLOCK QUOTES
----------------------------------------------------------------*/


/* editor */

.cm-quote {
  color: var(--text-muted) !important;
  font-style: italic;
}

/* preview */

blockquote {
  color: var(--text-muted) !important;
  font-style: italic;
  border-color: var(--interactive-accent) !important;
}

blockquote p {
  display: inline;
}


/*----------------------------------------------------------------
ul, li & ol colors in editor */

.markdown-preview-section>ul.contains-task-list {
  margin-block-end: 2rem;
}


/*----------------------------------------------------------------
TASK LISTS
----------------------------------------------------------------*/

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  background-color: var(--background-primary);
  border: 1px solid var(--text-muted);
  border-radius: 3px;
}

input[type=checkbox]:focus,
input[type=checkbox]:hover {
  outline: 0;
  border-color: var(--text-muted);
}

input[type=checkbox]:checked {
  background-color: var(--blue) !important;
  border: 1px solid var(--blue);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 20 20'%3E%3Cpath d='M0 11l2-2l5 5L18 3l2 2L7 18z' fill='%23fff'/%3E%3C/svg%3E");
}


/*************/
/* side dock */
/*************/

/* side dock text, like file names and backlink context */
.side-dock-panels-container * {
  font-size: 13px !important;
}

/* side dock titles at top */
.side-dock-title {

  font-size: 20px !important;
  font-weight: 800 !important;
}

/* hover actions on side dock navigation */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-tab-inner:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
  color: var(--text-a);
}

/* condense line spacing on file explorer title list. also avoids character-level word breaks */
.nav-file-title-content,
.search-result-file-title,
.search-result-file-match {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  word-break: keep-all;
}

/* clean up side bar empty state (e.g. unlinked mentions) */
.search-empty-state {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
}


/**********/
/* tables */
/**********/
th {
  font-weight: 800 !important;
}

thead {
  border-bottom: 4px solid var(--background-modifier-border);
}

.table {
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-modifier-border);
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


/**
 hr styles -- PREVIEW MODE 
 */
.markdown-preview-view hr {
  margin-block-start: 4em;
  margin-block-end: 4em;
  border: none;
  height: 0;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, transparent, var(--text-accent), transparent);
}

.markdown-preview-view hr::after {
  content: '§';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 50%;
  padding: 0.5rem;
  color: var(--text-sub-accent);
  background-color: var(--background-primary);
}

.markdown-preview-view blockquote hr {
  margin-block-start: 4px;
  margin-block-end: 4px;
}
.markdown-preview-view blockquote hr::after {
  display: none;
}

/* Reduce indentation in bullet lists */
ol {
  padding-inline-start: 18px;
}
ul {
  padding-inline-start: 18px;
  list-style-type: disc;
}

/* Long bullet list: connect the same levels of bullets with vertical "lines" */
.cm-hmd-list-indent .cm-tab, ul ul { position: relative; }
.cm-hmd-list-indent .cm-tab::before, ul ul::before {
 content:'';
 border-left: 1px solid rgba(0, 122, 255, 0.25);
 position: absolute;
}

.cm-hmd-list-indent .cm-tab::before { left: 0; top: -5px; bottom: -4px; 
}

ul ul::before { left: -11px; top: 0; bottom: 0; /* change "left:" value for align of vert. line */
}

/*-------------------------------------*/
/* #大纲面板 的关系线 #侧边栏 relationship line of outline */
/*-------------------------------------*/
.outline .collapsible-item-children {
  margin-left: 20px;
  border-left: 1px solid rgba(165, 165, 165, 0.2);
  transition: all 0.5s ease-in-out;
  padding-left: 6px;
}

/*----------------------------------------------------------------
Andy's Mode Sliding Panes v3.2.1 (death_au's plugin)
----------------------------------------------------------------*/

/** Disable top/bottom gradients */
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:before,
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:after {
  display: none;
}

/***
 * EMBEDDED CONTENT
 */

 /* Hide all H1 in transclusions .... */
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h1,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h2,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h3,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h4,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h5,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section > h6 {
  display:none;
}

/* .... but show H2 and on in transclusions */
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h1,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h2,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h3,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h4,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h5,
div[src*="#"].internal-embed .markdown-embed-content>.markdown-preview-view>div.markdown-preview-sizer>div.markdown-preview-section ~ div.markdown-preview-section > h6 {

  display:block;
}
/* change the color of note title in the embed */
.markdown-embed-title {
	color: red; /*change color*/
	display: none; /*remove*/
  }

/*==============TRANSCLUSION TWEAKS=============*/
.markdown-embed-title {
	font-family: sans-serif;
	font-size: 10px;
	color: var(--text-accent); /*rgb(150,200,255);*/
	line-height: 10px;
	width: 100%;
	text-align: left;
	font-weight: 100;
	margin: -4px 0px;
}
.markdown-preview-view .markdown-embed {
	background-color: var(--background-primary);
	border-radius: 0px;
	border: 0;
	border-left: 1px solid #dcdcdc; /* was var(--text-selection) */
	margin: 0px -20px;
}
/* Hide frontmatters in embeds */
.markdown-preview-view .markdown-embed-content .frontmatter {
  display: none;
}
.markdown-embed {
	display: block;
	top: 0px;
}
.markdown-embed > .markdown-embed-content {
	display: inline;
	max-height: 100%;
	max-width: 100%;
	margin: -25px 0px -15px 0px;
	padding: 0px 0px 5px 0px;
}
.markdown-embed-content > * {
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: 10px 0px 5px 0px;
}
.markdown-embed-link {
	top: -3px;
	left: -20px;
	color: #484848; /* was var(--accent-strong) */
	cursor: pointer;
	position: absolute;
}
svg.link {
	width: 12px;
	height: 12px;
}
.file-embed-link {
	top: 10px;
	left: -10px;
	color: var(--accent-strong);
	cursor: pointer;
	position: relative;
}
.internal-embed, .internal-embed > .markdown-embed > .markdown-embed-content {
	display: block;
	max-height: 100%;
	max-width: 100%;
	left: 0px;
}
.markdown-preview-view .file-embed {
	background-color: var(--background-primary);
	border-radius: 4px;
	border: 2px solid var(--text-selection);
	padding: 5px 20px 5px 20px;
	margin: 10px 0px 10px 0px;
}
.file-embed-title {
	font-size: 12px;
	height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Eliminate scrollbars in transclusions (from death-au) */
.markdown-preview-view .markdown-embed-content,
.markdown-preview-view .markdown-embed-content>.markdown-preview-view {
  max-height: unset;
}

/* Reduce gap between adjacent block embed */
.markdown-preview-view .markdown-embed {
  margin-top: -20px;
  margin-bottom: -20px;
}

/******
 * Timeline
 */

.markdown-preview-view .timeline-container h2,
.markdown-preview-view .timeline-container h3,
.markdown-preview-view .timeline-container h4,
.markdown-preview-view .timeline-container h5,
.markdown-preview-view .timeline-container h6 {
  border-bottom: none;
  margin: 6px 0 0 0;
  font-size: 1.2em;
}

.markdown-preview-view .timeline-container .timeline-card p {
  margin-bottom: 6px;
}

.markdown-preview-view .timeline-container h1:before,
.markdown-preview-view .timeline-container h2:before,
.markdown-preview-view .timeline-container h3:before,
.markdown-preview-view .timeline-container h4:before,
.markdown-preview-view .timeline-container h5:before,
.markdown-preview-view .timeline-container h6:before {
  display: none;
}

.markdown-preview-view .timeline-container h2 {
  color: var(--blue);
}
.timeline-container::after {
  border-color: var(--blue) !important;
}

.theme-dark .timeline-card.player a.internal-link {
  color: var(--orange) !important;
}
.timeline-card.place a.internal-link {
  color: var(--cyan) !important;
}
.timeline-card.enemy a.internal-link {
  color: var(--red) !important;
}

.theme-dark .timeline-card {
  background-color: var(--gray) !important;
}
.theme-dark .timeline::after {
  background-color: var(--gray) !important;
}