
span.subhead {
  display: block;
  margin-top: -15px;
  margin-bottom: 1em;
  font-style: italic;
  font-weight: 400;
  font-size: .9em;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.theme-dark .subhead {
  color: var(--gray-blue);
}
.theme-light .subhead {
  color: var(--gray-dark-1);
}